{# src/TV/Findyourband/Resources/views/Invitation/view.html.twig #}

{% extends "TVFindyourbandBundle::layout.html.twig" %}

{% block findyourband_body %}
    <div class="wrapper">
        <div class="container single">
           
        </div>
    </div>
{% endblock %}
