{# src/TV/User/Resources/views/Admin/header.html.twig #}

<ul id="nav_admin">
    <li><a class="btn normal" href="{{ path('tv_admin_adverts') }}">Annonces</a></li>
    <li><a class="btn normal" href="{{ path('tv_admin_users') }}">Utilisateurs</a></li>
    <li><a class="btn normal" href="{{ path('tv_admin_bands') }}">Groupes</a></li>
</ul>           
<h2><a href="{{ path('tv_admin_index') }}">Tableau de bord</a></h2>
