{# src/TV/Findyourband/Resources/views/Advert/delete.html.twig #}

{% extends "TVFindyourbandBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Supprimer annonce
{% endblock %}

{% block findyourband_body %}
    <div class="wrapper">
        <div class="container">
            <h2>Supprimer une annonce</h2>
            <p>Etes-vous certain de vouloir supprimer cette annonce ?</p>

            <form action="{{ path('tv_findyourband_adverts_delete', {'id': advert.id}) }}" method="post">
                <a href="{{ path('tv_findyourband_adverts_view', {'id': advert.id}) }}" class="">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    Retour à l'annonce
                </a>

                <input type="submit" value="Supprimer" class="" />

                {{ form_rest(form) }}

            </form>         
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}
