{% block filtre %}
    <aside>
        <h4>Filtres:</h4>
        {% if titlePage == 'Annonces' %}
            {{ render(controller("TVFindyourbandBundle:Filter:indexAdvert")) }}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a class="btn normal" href="{{ path('tv_findyourband_adverts_add') }}">+ Ajouter une annonce</a>
            {% endif %}
        {% elseif titlePage == 'Musiciens' %}
            {{ render(controller("TVFindyourbandBundle:Filter:indexUser")) }}
        {% elseif titlePage == 'Groupes' %}
            {{ render(controller("TVFindyourbandBundle:Filter:indexBand")) }}
        {% endif %} 
    </aside>
{% endblock %}
