{% block filtre %}
    <aside>
        <h4>Filtres:</h4>
       {{ render(controller("TVFindyourbandBundle:Filter:indexBand")) }}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {% if page == 'Annonces' %}
                <a class="btn normal" href="{{ path('tv_findyourband_adverts_add') }}">+ Ajouter une annonce</a>
            {% endif %}
        {% endif %}
    </aside>
{% endblock %}
