{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" />
        <meta charset="utf-8">
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <title>{% block title %}Find Your Band{% endblock %}</title>
    </head>
    <body>
        <header>
            
        </header>
        
        <p>Et quia Montius inter dilancinantium manus spiritum efflaturus Epigonum et Eusebium nec professionem nec dignitatem ostendens aliquotiens increpabat, qui sint hi magna quaerebatur industria, et nequid intepesceret, Epigonus e Lycia philosophus ducitur et Eusebius ab Emissa Pittacas cognomento, concitatus orator, cum quaestor non hos sed tribunos fabricarum insimulasset promittentes armorum si novas res agitari conperissent.</p>
        
        <footer>
            
        </footer>
       
    </body>
</html>
